html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
}
h1 {
  line-height: 1.4;
  font-size: 4rem;
  padding-top: 2rem;
  color: #fff;
  text-align: center;
  padding-top: 12rem;
}

.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
